<a href="https://colab.research.google.com/github/MachineAbiogenesis/MachineLearning/blob/main/News_Classification_NLP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import tensorflow as tf
import pandas as pd
import numpy as np

! pip install -q kaggle

from google.colab import files
files.upload()

! mkdir ~/.kaggle

! cp kaggle.json ~/.kaggle/

! chmod 600 ~/.kaggle/kaggle.json
! kaggle datasets list

! kaggle datasets download -d rmisra/news-category-dataset

Saving kaggle.json to kaggle (3).json
mkdir: cannot create directory ‘/root/.kaggle’: File exists
Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
ref                                                         title                                              size  lastUpdated          downloadCount
----------------------------------------------------------  ------------------------------------------------  -----  -------------------  -------------
gpreda/reddit-vaccine-myths                                 Reddit Vaccine Myths                              237KB  2021-12-03 07:25:55          17228
crowww/a-large-scale-fish-dataset                           A Large Scale Fish Dataset                          3GB  2021-04-28 17:03:01          10422
imsparsh/musicnet-dataset                                   MusicNet Dataset                                   22GB  2021-02-18 14:12:19           4833
dhruvildave/wikibooks-dataset                               Wikibooks Dataset                                   2GB  2021-10-22 10:48:21           3777
promptcloud/careerbuilder-job-listing-2020                  Careerbuilder Job Listing 2020                     42MB  2021-03-05 06:59:52           2934
fatiimaezzahra/famous-iconic-women                          Famous Iconic Women                               838MB  2021-02-28 14:56:00           2072
nickuzmenkov/nih-chest-xrays-tfrecords                      NIH Chest X-rays TFRecords                         11GB  2021-03-09 04:49:23           1782
mathurinache/twitter-edge-nodes                             Twitter Edge Nodes                                342MB  2021-03-08 06:43:04           1394
coloradokb/dandelionimages                                  DandelionImages                                     4GB  2021-02-19 20:03:47           1078
mathurinache/the-lj-speech-dataset                          The LJ Speech Dataset                               3GB  2021-02-15 09:19:54            542
simiotic/github-code-snippets                               GitHub Code Snippets                                7GB  2021-03-03 11:34:39            538
alsgroup/end-als                                            End ALS Kaggle Challenge                           12GB  2021-04-08 12:16:37           1148
imsparsh/accentdb-core-extended                             AccentDB - Core & Extended                          6GB  2021-02-17 14:22:54            196
stuartjames/lights                                          LightS: Light Specularity Dataset                  18GB  2021-02-18 14:32:26            240
nickuzmenkov/ranzcr-clip-kfold-tfrecords                    RANZCR CLiP KFold TFRecords                         2GB  2021-02-21 13:29:51            169
landrykezebou/lvzhdr-tone-mapping-benchmark-dataset-tmonet  LVZ-HDR Tone Mapping Benchmark Dataset (TMO-Net)   24GB  2021-03-01 05:03:40            247
datasnaek/youtube-new                                       Trending YouTube Video Statistics                 201MB  2019-06-03 00:56:47         160710
zynicide/wine-reviews                                       Wine Reviews                                       51MB  2017-11-27 17:08:04         150459
residentmario/ramen-ratings                                 Ramen Ratings                                      40KB  2018-01-11 16:04:39          30894
datasnaek/chess                                             Chess Game Dataset (Lichess)                        3MB  2017-09-04 03:09:09          26062
news-category-dataset.zip: Skipping, found more recently modified local copy (use --force to force download)

In [ ]:

!unzip /content/news-category-dataset.zip -d /content/

Archive:  /content/news-category-dataset.zip
replace /content/News_Category_Dataset_v2.json? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: /content/News_Category_Dataset_v2.json

In [ ]:
import tensorflow as tf
import pandas as pd
import numpy as np

df = pd.read_json('/content/News_Category_Dataset_v2.json', lines=True)
df.head()

        category  ...       date
0          CRIME  ... 2018-05-26
1  ENTERTAINMENT  ... 2018-05-26
2  ENTERTAINMENT  ... 2018-05-26
3  ENTERTAINMENT  ... 2018-05-26
4  ENTERTAINMENT  ... 2018-05-26

[5 rows x 6 columns]

In [ ]:
df['headline'][0]

'There Were 2 Mass Shootings In Texas Last Week, But Only 1 On TV'

In [ ]:
df['headline']=df['headline']+df['short_description']

In [ ]:
print(len(df[df['headline'] == ""]))

5

In [ ]:
df=df.drop(columns=['link','short_description','date'])

In [ ]:
df_backup = df.copy() #Let's create a copy of the data frame
df_backup

             category  ...           authors
0               CRIME  ...   Melissa Jeltsen
1       ENTERTAINMENT  ...     Andy McDonald
2       ENTERTAINMENT  ...        Ron Dicker
3       ENTERTAINMENT  ...        Ron Dicker
4       ENTERTAINMENT  ...        Ron Dicker
...               ...  ...               ...
200848           TECH  ...  Reuters, Reuters
200849         SPORTS  ...
200850         SPORTS  ...
200851         SPORTS  ...
200852         SPORTS  ...

[200853 rows x 3 columns]

In [ ]:
df.duplicated().sum()

446

In [ ]:
df.drop_duplicates(keep='last', inplace=True)

In [ ]:
df.duplicated(subset=['category','headline']).sum()

24

In [ ]:
#remove empty val
print(len(df[df['headline'] == ""]))

5

In [ ]:
df.loc[df['headline'] == "", 'headline'] = np.nan
df.dropna(subset=['headline'], inplace=True)
print(len(df[df['headline'] == ""]))

0

In [ ]:
df['headline']=df['headline']+df['authors']

In [ ]:
#cleaning data
from sklearn.utils import shuffle
df = shuffle(df)
df.reset_index(inplace=True, drop=True) 
len(df)

200402

In [ ]:
def combine_categories(category):
    # THE WORLDPOST becomes WORLD NEWS
    if category == "THE WORLDPOST":
        return "WORLD NEWS"
    # WORLDPOST becomes WORLD NEWS
    if category == "WORLDPOST":
        return "WORLD NEWS"
    # ARTS becomes ARTS & CULTURE
    if category == "ARTS":
        return "ARTS & CULTURE"
    # CULTURE & ARTS becomes ARTS & CULTURE
    if category == "CULTURE & ARTS":
        return "ARTS & CULTURE"
    # HEALTHY LIVING becomes WELLNESS
    if category == "HEALTHY LIVING":
        return "WELLNESS"
    # PARENTING becomes PARENTS
    if category == "PARENTING":
        return "PARENTS"
    # STYLE becomes STYLE & BEAUTY
    if category == "STYLE":
        return "STYLE & BEAUTY"
    # GREEN becomes ENVIRONMENT
    if category == "GREEN":
        return "ENVIRONMENT"
    # TASTE becomes FOOD & DRINK
    if category == "TASTE":
        return "FOOD & DRINK"
    # MONEY becomes BUSINESS
    if category == "MONEY":
        return "BUSINESS"
    return category

df["category"] = df["category"].map(combine_categories)
df['category'] = pd.Categorical(df['category'])

In [ ]:
listarray=df['category'].unique()
sorted(listarray)

['ARTS & CULTURE',
 'BLACK VOICES',
 'BUSINESS',
 'COLLEGE',
 'COMEDY',
 'CRIME',
 'DIVORCE',
 'EDUCATION',
 'ENTERTAINMENT',
 'ENVIRONMENT',
 'FIFTY',
 'FOOD & DRINK',
 'GOOD NEWS',
 'HOME & LIVING',
 'IMPACT',
 'LATINO VOICES',
 'MEDIA',
 'PARENTS',
 'POLITICS',
 'QUEER VOICES',
 'RELIGION',
 'SCIENCE',
 'SPORTS',
 'STYLE & BEAUTY',
 'TECH',
 'TRAVEL',
 'WEDDINGS',
 'WEIRD NEWS',
 'WELLNESS',
 'WOMEN',
 'WORLD NEWS']

In [ ]:
from sklearn import preprocessing

le = preprocessing.LabelEncoder()
le.fit(df.category)
df['categorical_label'] = le.transform(df.category)

df.head()

        category  ... categorical_label
0   BLACK VOICES  ...                 1
1  ENTERTAINMENT  ...                 8
2       WELLNESS  ...                28
3       POLITICS  ...                18
4        PARENTS  ...                17

[5 rows x 4 columns]

In [ ]:
X,Y = df['headline'],df['categorical_label']

In [ ]:
import nltk
nltk.download('wordnet')
nltk.download('stopwords')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [ ]:
import nltk
from nltk.stem import WordNetLemmatizer
import re
from nltk.corpus import stopwords
from keras.preprocessing.text import one_hot
lem=WordNetLemmatizer()

for i,sent in enumerate(X):
  #print(i)
  #sent=re.sub("(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)"," ",sent)

  sent=sent.lower()
  # sent=re.sub('https:\/\/\S+','',sent)
  # sent=re.sub('@\S+','',sent)
  # sent=re.sub('&[a-zA-Z]+;','',sent)
  # sent=re.sub('#\S+','',sent)
  # sent=re.sub('[^a-zA-Z0-9]',' ',sent)
  sent=sent.split()
  wds=''
  sw_nltk =stopwords.words('english')
  for word in sent:
    if word not in sw_nltk:
      word=lem.lemmatize(word)
      wds+=' '
      wds+=word
  X[i]=wds

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:

from sklearn.model_selection import train_test_split
#90% to train , 10% for validation
X_train, X_val, y_train, y_val = train_test_split(X,Y, test_size=0.1, random_state=42)

In [ ]:
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

tokenizer=Tokenizer(
    num_words=161393,
    oov_token="<OOV>"
)


tokenizer.fit_on_texts(X_train)

word_index = tokenizer.word_index

sequences_train = tokenizer.texts_to_sequences(X_train)

padded_seq_train = pad_sequences(sequences_train, maxlen=150,padding='pre',dtype='float32')

sequences_test = tokenizer.texts_to_sequences(X_val)

padded_seq_test = pad_sequences(sequences_test, maxlen=150,padding='pre',dtype='float32')

In [ ]:
len(word_index)

250976

In [ ]:
maxval=0
for i in sequences_train:
  if len(i)>maxval:
    maxval=len(i)
print(maxval)

156

In [ ]:
print('len of train DF '+str(len(padded_seq_train))+'\n len of Test DF '+str(len(y_train)))

len of train DF 180361
 len of Test DF 180361

In [ ]:
vocab_size = 206893
embedding_dim = 62
max_length = 150

import tensorflow.keras as tk

my_model6 = tk.Sequential([
   tk.layers.Embedding(vocab_size, embedding_dim, input_length=max_length),
   tk.layers.Bidirectional(tk.layers.LSTM(64,return_sequences=True)),
   tk.layers.Bidirectional(tk.layers.LSTM(64)),
   tk.layers.Dense(256, activation='relu'),
   tk.layers.Dropout(0.2),
   tk.layers.Dense(31, activation='sigmoid')
])

my_model6.compile(loss=tk.losses.sparse_categorical_crossentropy,
                optimizer=tk.optimizers.Adam(),
                metrics=['acc']
                )
num_epoch = 5

padded_seq_train=np.array(padded_seq_train)
y_train=np.array(y_train)
padded_seq_test=np.array(padded_seq_test)
y_val=np.array(y_val)


history=my_model6.fit(padded_seq_train,
            y_train,
            epochs=num_epoch,
            validation_data=(padded_seq_test, y_val))

Epoch 1/5
5637/5637 [==============================] - 172s 30ms/step - loss: 1.4021 - acc: 0.6159 - val_loss: 0.9340 - val_acc: 0.7441
Epoch 2/5
5637/5637 [==============================] - 166s 29ms/step - loss: 0.7018 - acc: 0.8050 - val_loss: 0.8552 - val_acc: 0.7660
Epoch 3/5
5637/5637 [==============================] - 166s 30ms/step - loss: 0.4230 - acc: 0.8805 - val_loss: 0.9239 - val_acc: 0.7602
Epoch 4/5
5637/5637 [==============================] - 167s 30ms/step - loss: 0.2463 - acc: 0.9294 - val_loss: 1.0516 - val_acc: 0.7552
Epoch 5/5
5637/5637 [==============================] - 167s 30ms/step - loss: 0.1391 - acc: 0.9588 - val_loss: 1.2395 - val_acc: 0.7487